.vscode
a.out
lex.yy.o
lex.yy.c
main.o
*.old
y.output
y.tab.h
y.tab.c
y.tab.o
*.tar
*.o
*.out
*.gch
*.tmp.pre
llvm-2.6
*.log
*.htm
*.html
*.aux
*.synctex.gz
*.snm
*.nav
*.toc
*.vrb
bnf.y
qsort.c
*.ee
*.tg
*.s